<div class="container">
  <div class="mx-auto">
    <div class="card rounded-lg mx-auto">
      <div class="card-header">
        Nuevo Colaborador
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-md-5">
                <mat-form-field class="example-full-width" [style.width.%]="100">
                  <mat-label>Nombre(s):</mat-label>
                  <input class="form-control" matInput value="">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width" [style.width.%]="100">
                  <mat-label>Primer apellido:</mat-label>
                  <input class="form-control" matInput value="">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width" [style.width.%]="100">
                  <mat-label>Segundo apellido:</mat-label>
                  <input class="form-control" matInput value="">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" [style.width.%]="100">
                  <mat-label>Teléfono personal:</mat-label>
                  <input class="form-control" matInput value="">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width" [style.width.%]="100">
                  <mat-label>Contacto de emergencia:</mat-label>
                  <input class="form-control" matInput value="">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width" [style.width.%]="100">
                  <mat-label>Correo personal:</mat-label>
                  <input class="form-control" matInput value="">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width" [style.width.%]="100">
                  <mat-label>Correo institucional:</mat-label>
                  <input class="form-control" matInput value="">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-8">
                <mat-form-field class="example-full-width" [style.width.%]="100">
                  <mat-label>Dirección:</mat-label>
                  <textarea class="form-control" matInput></textarea>
                </mat-form-field>
              </div>
              <div class="col">
                <div class="float-right">
                  <mat-form-field appearance="fill">
                    <mat-label>Fecha de alta:</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> 
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label for="status">Enfermedad crónica:</label>
                <div class="radio" id="status" *ngFor="let enf of enfermedad">
                  <label>
                    <input 
                    type="radio"
                    name="enf"
                    ngModel
                    [value]="enf"
                    required>
                    {{ enf }}
                  </label>
                </div>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width" [style.width.%]="100">
                  <mat-label>En caso afirmativo mencione cuál o cuáles:</mat-label>
                  <textarea class="form-control" matInput></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill" [style.width.%]="100">
                  <mat-label>Último nivel de estudios:</mat-label>
                  <select matNativeControl [(ngModel)]="selectedEstudios" name="estudios">
                    <option value="" selected></option>
                    <option *ngFor="let est of estudios" [value]="est.id">
                      {{est.nivel}}
                    </option>
                  </select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill" [style.width.%]="100">
                  <mat-label>Comprobante de estudios:</mat-label>
                  <select matNativeControl [(ngModel)]="selectedComp" name="comprobante">
                    <option value="" selected></option>
                    <option *ngFor="let comp of comprobante" [value]="comp.id">
                      {{comp.documento}}
                    </option>
                  </select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width" [style.width.%]="100">
                  <mat-label>Área de estudios:</mat-label>
                  <input class="form-control" matInput value="">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill" [style.width.%]="100">
                  <mat-label>Tipo de contratación:</mat-label>
                  <select matNativeControl name="contratacion">
                    <option value="" selected></option>
                    <option>Honorario</option>
                    <option>Estructura</option>
                    <option>Nómina 1</option>
                    <option>Nómina 8</option>
                    <option>Base</option>
                  </select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill" [style.width.%]="100">
                  <mat-label>Área de adscripción:</mat-label>
                  <select matNativeControl name="contratacion">
                    <option value="" selected></option>
                    <option>CGIEI</option>
                    <option>DOSEC</option>
                    <option>DCMEC</option>
                    <option>DEIIB</option>
                    <option>DT</option>
                  </select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill" [style.width.%]="100">
                  <mat-label>Lugar de trabajo:</mat-label>
                  <select matNativeControl name="contratacion">
                    <option value="" selected></option>
                    <option>Oficina</option>
                    <option>PILARES</option>
                  </select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill" [style.width.%]="100">
                  <mat-label>Alcaldía de adscripción:</mat-label>
                  <select matNativeControl [(ngModel)]="selectedAlc" name="alcaldia">
                    <option value="" selected></option>
                    <option *ngFor="let alc of alcaldias" [value]="alc.id">
                      {{alc.nombre}}
                    </option>
                  </select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="float-right">
            <button class="btn btn-danger" type="submit" style="margin-right: 5px">Cancelar</button>
            <button class="btn btn-success" type="submit">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>