<div class="lista">
    <h3 class="encabezado">Brigadas:</h3>
<table mat-table [dataSource]="brigadas" class="mat-elevation-z8" style="width:
    100%;" >
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let brigada"> {{brigada.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="alcaldia">
        <th mat-header-cell *matHeaderCellDef>Alcaldía</th>
        <td mat-cell *matCellDef="let brigada"> {{brigada.alcaldia}} </td>
    </ng-container>
    <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef>Área</th>
        <td mat-cell *matCellDef="let brigada"> {{brigada.sub}} </td>
    </ng-container>
    <ng-container matColumnDef="resp">
        <th mat-header-cell *matHeaderCellDef>Responsable</th>
        <td mat-cell *matCellDef="let brigada"> {{brigada.responsable}} </td>
    </ng-container>


    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let brigada">
            <a mat-icon-button [routerLink]="['/brigadas/editar', brigada.id]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let brigada">
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
            (click)="eliminarBrigada(brigada)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['nombre','alcaldia','area','resp','editar','eliminar']"></tr>
    <tr mat-row *matRowDef="let fila; columns: ['nombre','alcaldia','area','resp','editar','eliminar'];"></tr>
</table>
</div>